@tailwind base;
@tailwind components;
@tailwind utilities;

/* latin-ext */
@font-face {
    font-family: 'Lemon';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/font/Lemon/HI_EiYEVKqRMq3jIQ5TwQw.woff2') format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lemon';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/font/Lemon/HI_EiYEVKqRMq3jGQ5Q.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  font-family: "Lemon", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  
 
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  
  min-width: 320px;
  min-height: 100vh;
}

.w-100{
  width: 100% !important;
}

.w-75{
  width: 75% !important;
}

.h-100{
  height: 100% !important;
}

.vh-100{
  height: 100vh !important;
}

.vh-75{
  height: 75vh !important;
}

.vw-100{
  width: 100vw !important;
}

.vw-75{
  width: 75vw !important;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-start{
  display: flex;
  justify-content: start;
  align-items: center;
}

.column-start{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center ;
}

.p-2{
  padding: 0.125rem !important;
}

.px-3{
  padding: 0 1.25rem !important;
}

.m-0{
  margin: 0 !important;
}

.mt-2{
  margin-top: 1.5 rem !important;
}

.mt-1{
  margin-top: 0.85rem;
}

.mr-1{
  margin-right: 0.85rem;
}

.mt-3{
  margin-top: 1.5rem;
}

.mb-0{
  margin-bottom: 0 !important;
}
.mt-0{
  margin-top: 0 !important;
}

.mb-1{
  margin-bottom: 1rem !important;
}

.ml-2{
  margin-left: 1.5rem;
}

.ml-1 {
  margin-left: 1rem;
}
.text-end{
  text-align: end;
}

.ant-btn.ant-btn-round{
  border-radius: 100% !important;
}

.position-relative{
  position: relative !important;
}

.object-cover{
  object-fit: cover !important;
}

.flex-end{
  display: flex;
  justify-content: end;
}
 #layout_main{
  max-height: 98vh;
  overflow: hidden;
 }

 .title_feature{
  font-size: 28px  !important;
 }

 .primary{
  color: #44bccc !important
 }

 .container{
  padding-top: 0 !important;
 }

 .cursor-pointer{
  cursor: pointer;
 }

 .title_feature{
  font-size: 22px !important;
 }

 .green-color {
    color: #00AAAD;
 }

 .yellow-color {
    color: #FFC10E;
 }

 .blue-bg-color {
    background-color: #BCFAFF;
 }

 .border-radius-20 {
     border-radius: 20px;
 }